.heading-container {
  display: flex;
  justify-content: center;
}

.headings {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}
.headings h3 {
  font-size: 36px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .headings {
    width: 100%;
  }
}
