.question-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 32px;
  height: 65%;
}

.width-container {
  max-width: 413px;
  margin: 0 auto;
}
.width-container h4 {
  text-align: center;
}
.nxt-btn {
  margin-top: 16px;
}
@media only screen and (max-width: 768px) {
  .width-container {
    width: 100%;
  }
}
